<div style="display: flex; flex-direction: column; gap: 20px;" [formGroup]="formGroup()">
  <nb-list formArrayName="evolucoes">
    @for (evolutionControl of evolutionArray.controls; let i = $index; track $index) {
    <nb-list-item class="evolution-item">
      <div class="evolution-text">
        <span>
          <strong>Data:</strong>
          {{ evolutionControl.value.date }}
        </span>
        <span>{{ evolutionControl.value.text }}</span>
      </div>
      <div class="evolution-actions">
        <button nbButton size="small" status="info" (click)="addEditEvolution()">Editar</button>
        <button nbButton size="small" status="danger" (click)="deleteEvolution(i)">Excluir</button>
      </div>
    </nb-list-item>
    }
  </nb-list>
  <button nbButton status="success" (click)="addEditEvolution()">Adicionar Evolução</button>
</div>