nb-card-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nb-column-actions {
  display: flex;
  gap: 15px;
  height: auto;
  text-align: center;
}