<nb-card>
  <nb-card-body>
    <div class="table-header">
      <nb-form-field>
        <nb-icon nbPrefix icon="magnifying-glass"></nb-icon>
        <input nbInput placeholder="Pesquisar..." status="primary" [nbFilterInput]="dataSource">
      </nb-form-field>
      <button nbButton outline size="medium" status="success" (click)="add()">
        <nb-icon icon="plus"></nb-icon>
        Adicionar
      </button>
    </div>
    <table [nbTreeGrid]="dataSource" [nbSort]="dataSource" (sort)="updateSort($event)" >
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="columns()"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: columns()"></tr>
        @for (column of columns(); track column) {
        <ng-container [nbTreeGridColumnDef]="column">
          <th nbTreeGridHeaderCell nbSortHeader *nbTreeGridHeaderCellDef>
            {{ column }}
          </th>
          <td nbTreeGridCell *nbTreeGridCellDef="let row">
            <ng-container [ngSwitch]="column">
              <ng-container *ngSwitchCase="'actions'">
                <button nbButton ghost status="primary" (click)="editRow(row)">
                  <nb-icon icon="edit" pack="hero-icons"></nb-icon>
                </button>
                <button nbButton ghost status="danger" (click)="deleteRow(row)">
                  <nb-icon icon="trash" pack="hero-icons"></nb-icon>            
                </button>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ row.data[column] }}
              </ng-container>
            </ng-container>
          </td>
        </ng-container>
        }
    </table>
  </nb-card-body>
</nb-card>