nb-card {
  width: 800px;
  // min-height: 500px;

  nb-card-body {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  nb-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
  }
}