<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/layout/patient" routerLinkActive="item-active">
        <span class="item-content">
          <mat-icon>person</mat-icon>
          Pacientes 
        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <span>Gestão de Pacientes</span>
      <span class="spacer"></span>
      <button color="primary" mat-button>Logout</button>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
