<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened class="sidenav">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/layout/Dashboard" routerLinkActive="active"> TODO </a>
      <a mat-list-item routerLink="/layout/patient" routerLinkActive="active"> Pacientes </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>Gestão de Pacientes</span>
      <span class="spacer"></span>
      <button color="primary" mat-button>Logout</button>
    </mat-toolbar>
    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
